In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from bokeh.sampledata.iris import flowers as dados

In [2]:
#Estamos usando dados (flowers) de exemplos da Biblioteca Bokeh:
dados.shape

(150, 5)

In [3]:
#Dados representa uma tabela com um conjunto de Flores:
dados.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [5]:
#Calculo Da Media
med_sl = np.mean(dados['sepal_length']) #Esta pegando somente a Primeira Coluna.
print(med_sl)

5.843333333333335

In [7]:
#Media da Petala:
med_sl = np.mean(dados['petal_length'])
print(f"{med_sl:.2f}")

3.76

In [8]:
type(dados)

pandas.core.frame.DataFrame

In [9]:
#Tirar Media de Todas as Colunas:
np.mean(dados)

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [10]:
print(np.mean(dados))

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

# AULA 40 -> CALCULANDO A MEDIANA:

In [15]:
mediana_ = np.median(dados['sepal_length'])
print(mediana_)

5.8

In [16]:
mediana_ = np.median(dados['sepal_width'])
print(mediana_)

3.0